
<div id='main'>
	<h3>{{core.subtitle}}</h3>
	{{#each authors}}
		<a href='#!/people/{{person_id}}'>{{title}} {{firstname}} {{lastname_keyname}}</a>
	{{/each}}
	<div>Genre: {{core.genre}}</div>
	
	{{#if book}}
		<section>
		{{book.illustrated}}
		</section>
	{{/if}}
</div>
