
<div id='main'>
	<span class='home-link'><a href='#'><i class='fa fa-home'></i></a></span>
	<h1>{{core.title}}</h1>
	<h2>{{core.subtitle}}</h2>
	{{#each authors}}
		<a href='#!/people/{{person_id}}'>{{title}} {{firstname}} {{lastname_keyname}}</a>
	{{/each}}
	<div>Genre: {{core.genre}}</div>
	
	{{#if book}}
		<section>
		{{book.illustrated}}
		</section>
	{{/if}}
</div>
