
<div id='main'>
	<h4>People</h4>
	{{#each authors}}
		<a href='#!/people/{{person_id}}'>{{title}} {{firstname}} {{lastname_keyname}}</a>
	{{/each}}
	<h4>Details</h4>
	<div>Genre: {{core.genre}}</div>	
	{{#if book}}
		<section>
		{{book.illustrated}}
		</section>
	{{/if}}

	{{>_movie}}
	{{>_article}}
</div>
