<div id='main'>
	<span class='home-link'><a href='#'><i class='fa fa-home'></i></a></span>
	<h1>{{core.title}} {{core.firstname}} {{core.lastname_keyname}}</h1>
	<h2>Works</h2>
	<ul>
	{{#each works}}
		<li><a href='/publications/{{publication_id}}'>{{title}}</a></li>
	{{/each}}
	</ul>
</div>

